/*!
 * Copyright (C) 2016 Sergey Akopkokhyants
 * This project is licensed under the terms of the MIT license.
 * https://github.com/akserg/ng2-toasty
 *
 * Include BOOTSTRAP theme
 */
.toasty {
  position: fixed;
  z-index: 999999;
  &__close {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 1;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 4px;
    &:hover,
    &:focus {
      cursor: pointer;
      filter: alpha(opacity=100);
      opacity: 1;
      outline: 0;
      text-decoration: none;
    }
  }
  &--position-top-left {
    top: 12px;
    left: 12px;
  }
  &--position-top-right {
    top: 12px;
    right: 12px;
    .toasty__content {
      animation-name: animSlideElastic;
      animation-duration: 1s;
      animation-timing-function: linear;
    }
  }
  &--position-bottom-right {
    bottom: 12px;
    right: 12px;
  }
  &--position-bottom-left {
    bottom: 12px;
    left: 12px;
  }
  &--position-top-center {
    top: 12px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  &--position-bottom-center {
    bottom: 12px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  &--position-center-center {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  &__content {
    background-size: 24px 24px;
    background-position: 15px center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: table;
    height: 65px;
    margin: 0 0 6px;
    max-width: 500px;
    padding: 0;
    opacity: 1;
    position: relative;
    width: auto;
  }
  &__text {
    display: table-cell;
    padding: 5px 30px 5px;
    text-align: center;
    vertical-align: middle;
    & a:hover,
    & label:hover {
      text-decoration: none;
    }
  }
  &__title {
    font-weight: bold;
  }
}

/****************
 BOOTSTRAP THEME
 ***************/
.toasty--theme-bootstrap {
  font-size: 14px;
  border-radius: 6px;
  box-shadow: none;
  font-size: 14px;
  max-width: 500px;
  opacity: 1;
  right: 10px;
  top: 72px;
  transition: transform .5s;
  .toasty__close { color: #fff; }
  .toasty__close:after {
    content: '\e906';
    font-family: 'icomoon';
    font-size: 10px;
  }
  .toasty__text {
    color: #fff;
    a, label {
      color: #fff;
      &:hover { color: #f2f2f2; }
    }
  }
  .toasty__title { font-size: 14px; }

  &.toasty--type-default {
    background-color: #fff;
    .toasty__close:after { color: #000; }
    .toasty__text {
      color: #4b4b4b;
      a, label {
        color: #4b4b4b;
        &:hover { color: #585858; }
      }
    }
  }

  &.toasty--type-info { background-color: #5bc0de; }
  &.toasty--type-wait { background-color: #337ab7; }
  &.toasty--type-error { background-color: #d9534f; }
  &.toasty--type-success { background-color: #4595e5; }
  &.toasty--type-warning { background-color: #eea236; }
}
@keyframes animSlideElastic {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1000, 0, 0, 1)
  }
  3.333333% {
    transform: matrix3d(1.96989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 521.82545, 0, 0, 1)
  }
  6.666667% {
    transform: matrix3d(1.4235, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 218.3238, 0, 0, 1)
  }
  10% {
    transform: matrix3d(1.08167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 57.59273, 0, 0, 1)
  }
  13.333333% {
    transform: matrix3d(0.99057, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -11.12794, 0, 0, 1)
  }
  16.666667% {
    transform: matrix3d(0.98719, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -30.40503, 0, 0, 1)
  }
  20% {
    transform: matrix3d(0.99541, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -28.10141, 0, 0, 1)
  }
  23.333333% {
    transform: matrix3d(0.99936, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.40752, 0, 0, 1)
  }
  26.666667% {
    transform: matrix3d(1.00021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -11.08575, 0, 0, 1)
  }
  30% {
    transform: matrix3d(1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.23737, 0, 0, 1)
  }
  33.333333% {
    transform: matrix3d(1.00005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.84893, 0, 0, 1)
  }
  36.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.22079, 0, 0, 1)
  }
  40% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.37284, 0, 0, 1)
  }
  43.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.46116, 0, 0, 1)
  }
  46.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.35963, 0, 0, 1)
  }
  50% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.22487, 0, 0, 1)
  }
  53.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.11734, 0, 0, 1)
  }
  56.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.04909, 0, 0, 1)
  }
  60% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.01295, 0, 0, 1)
  }
  63.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.0025, 0, 0, 1)
  }
  66.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.00684, 0, 0, 1)
  }
  70% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.00632, 0, 0, 1)
  }
  73.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.00436, 0, 0, 1)
  }
  76.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.00249, 0, 0, 1)
  }
  80% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.00118, 0, 0, 1)
  }
  83.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.00042, 0, 0, 1)
  }
  86.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.00005, 0, 0, 1)
  }
  90% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00008, 0, 0, 1)
  }
  93.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.0001, 0, 0, 1)
  }
  96.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00008, 0, 0, 1)
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }
}
